// Article List and Cards used on Group Page
.article-grid-header {
  border: 2px solid #ddd;
  padding: 4px 24px;
  font-size: 80%;
  margin-top: 20px;
}

ul.article-grid {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.article-card {
  border: 2px solid #ddd;
  margin: 20px 0;
}

.article-card a {
  padding: 16px 24px;
  text-decoration: none;
}

.article-card a:hover {
  background: #ddd;
}

a .card-title {
  color: #444;
  font-size: 120%;
}

a .card-meta {
  text-align: right;
  color: #969696;
}

.card-meta {
  text-align: right;
}
